In [1]:
import pandas as pd
import numpy as np

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

from catboost import CatBoostClassifier

from tqdm import tqdm
import pickle
import json

import warnings
warnings.filterwarnings("ignore")

In [2]:
pwd

'C:\\Users\\Maxim\\JUPITER NOTEBOOK\\ML Projects\\Avito Click'

# Inference class

In [3]:
class Inference:
    def __init__(self, data):
        self.data = data
        self.data.columns = self.data.columns.str.lower()
        
    def preprocessing(self):
        with open('./final_files/final_features.pickle', 'rb') as f:
            self.final_features = pickle.load(f)
        with open('./final_files/model.pickle', 'rb') as f:
            self.model = pickle.load(f)
            
        self.data[['price', 'parentcategoryid', 'categoryid', 'subcategoryid']] = self.data[['price', 'parentcategoryid', 'categoryid', 'subcategoryid']].fillna(0)
        
    def prediction(self):
        self.data['prediction'] = self.model.predict_proba(self.data[self.final_features])[:, 1]

# Test scoring

In [4]:
test_data = pd.read_parquet("./data/merged_data_test.parquet")
test_data.head()

,ID,SearchID,AdID,Position,ObjectType,HistCTR,LocationID,CategoryID,Params,Price,Title,IsContext,Level,ParentCategoryID,SubcategoryID,Level_y,RegionID,CityID
0,1,1,10915336,1,3,0.004999,NaN,5.0,{165:'Единоборства'},449.0,Эспандер боксера Бокс 1 тип рюкзачок,1,3.0,2.0,35.0,NaN,NaN,NaN
1,2,1,12258424,6,1,NaN,1729.0,5.0,{165:'Игры с мячом'},5000.0,Бутсы nike mercurial,0,3.0,2.0,35.0,3.0,27.0,2554.0
2,3,1,15952399,2,1,NaN,1729.0,5.0,{165:'Зимние виды спорта'},2300.0,Хоккейная форма Шлем хоккейный,0,3.0,2.0,35.0,3.0,27.0,2554.0
3,4,1,17092357,8,1,NaN,1729.0,5.0,{165:'Другое'},3000.0,Продам качели детские,0,3.0,2.0,35.0,3.0,27.0,2554.0
4,5,1,31173651,7,3,0.045094,NaN,5.0,{165:'Туризм'},1540.0,Спальный мешок,1,3.0,2.0,35.0,NaN,NaN,NaN

In [5]:
pd.DataFrame([[0.0234, 5, 13413.5, 7, 1, 1]], columns = ['histctr', 'subcategoryid',
                                                                   'price', 'position', 'categoryid',
                                                                   'parentcategoryid'])

   histctr  subcategoryid    price  position  categoryid  parentcategoryid
0   0.0234              5  13413.5         7           1                 1

In [6]:
histctr : float
subcategoryid : int()
price: float()
position: int()
categoryid: int()
parentcategoryid: int()

In [11]:
test_data_obj = Inference(pd.DataFrame([[0.0234, 5, 13413.5, 7, 1, 1]], columns = ['histctr', 'subcategoryid',
                                                                   'price', 'position', 'categoryid',
                                                                   'parentcategoryid']))

In [12]:
test_data_obj.preprocessing()

In [13]:
test_data_obj.prediction()

In [14]:
test_data_obj.data

,histctr,subcategoryid,price,position,categoryid,parentcategoryid,prediction
0,0.0234,5,13413.5,7,1,1,0.002361

In [5]:
test_data_obj = Inference(test_data)

In [6]:
test_data_obj.preprocessing()

In [7]:
test_data_obj.prediction()